body {
  background: black;
  font-family: "ABeeZee";
}

h1 {
  font-size: 50px;
  color: white;
  font-family: 'ABeeZee';
  font-weight: bold;
  text-align: center;
}

main {
  margin: auto;
}

footer {
  text-align: center;
}

#grid {
  margin: 0 auto;
  width: 320px;
  background: black;
  padding: 0;
}

li {
  height: 150px;
  width: 150px;
  display: inline-block;
}

#first {
  background-color: red;
}

#second {
  background-color: yellow;
}

#third {
  background-color: blue;
}

#fourth {
  background-color: green;
}

#start {
  background: white;
  width: 100px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
